<% include ../partials/head%>
<% include ../partials/header%>

<div class="container">
	<div class="go-back">
    	<a href="/posts">Go Back</a>
	</div>

	<div class="entry-header">
        <h1>Hello <%= user.username%></h1>  
		<p> <%=user.username%>'s profile</p>          
    </div>
	
	<div class="entry-lists">
    	<% posts.forEach((post)=> { %>
    		<article class="entry-items">
            	<div class="post-thumb" style="background-image:url(<%= post.imgUrl%>)">
            		<a href="/posts/<%=post._id%>">
                		<h3 class="item-name"><%= post.title%></h3>
                			<div class="item-author">
                    			<p><%= post.author.username%></p>
                			</div>
            		</a>
        		</div>
    		</article>
		<% }); %>
	</div>

	

</div>

<% include ../partials/backToTop%>
<% include ../partials/footer%>